{% extends 'base1.html.twig' %}
{% block body %}
<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">Sa7etna@gmail.com</a>
        <i class="bi bi-phone"></i> +216 96 700 134
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
     
      <h1 class="logo me-auto"><a href="index.html">Sa7etna</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/acceuil_logged">Acceuil</a></li>
          <li><a class="nav-link scrollto" href="/frontt/med">Medicaments</a></li>
          <li><a class="nav-link scrollto" href="/front">Dons</a></li>
          <li><a class="nav-link scrollto" href="#departments">Articles</a></li>
          <li><a class="nav-link scrollto" href="#doctors">Docteurs</a></li>
          
          <li><a class="nav-link scrollto" href="/reclamation/addreclamation">Reclamtion</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/front/local/local" class="appointment-btn scrollto"><span class="d-none d-md-inline">Prendre</span> un rendez-vous</a>
 <img src="{{ asset(user.img) }}" style="width: 50px;border-radius: 50%;">
<li><a href="/consult_user">{{user.nom}} {{user.prenom}}</a></li>
<li><a href="/acceuil">Dec</a></li>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  


    <!-- ======= Why Us Section ======= -->
   

   

   
   
   
  

   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        
        <div class="section-title">
          
          <h2>Contact</h2>
          

      <div class="container">
        <div class="row mt-5">
           <center>
          <div class="col-lg-4">
            <div class="info">
          <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        text-align: left;
        padding: 8px;
    }
    
    th {
        background-color: #333;
        color: #fff;
        font-weight: bold;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    tr:hover {
        background-color: #ddd;
    }
    
    @media (max-width: 768px) {
        th, td {
            display: block;
            width: 100%;
        }
    }
</style>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Id_ben</th>
            <th>Titre</th>
            <th>Qte</th>
            <th>Type</th>
            <th>Date</th>
            <th>Id_local</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for don in dons %}
        <tr>
            <td>{{ don.id }}</td>
            <td>{{ don.idBen }}</td>
            <td>{{ don.titre }}</td>
            <td>{{ don.qte }}</td>
            <td>{{ don.type }}</td>
            <td>{{ don.date ? don.date|date('Y-m-d') : '' }}</td>
            <td>{{ don.idLocal }}</td>
            <td><img src="{{asset ('uploads/donimage/' ~ don.imge)}}" width="150px" height="150px"></td>
            <td>
                <a href="{{ path('app_don_show', {'id': don.id}) }}">Show</a>
                <a href="/don/remove/{{don.id}}">Delete</a>
                <a href="{{ path('favoris_add', {'id': don.id}) }}" class="btn btn-round btn-danger"><i class="fa fa-heart" style="color: red;"></i> Add to favorite</a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}&amp;quote=Check+out+this+awesome+post" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://twitter.com/intent/tweet?url={{ app.request.uri }}&amp;text=Check+out+this+awesome+post" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="{{ path('bank_get_qr_code', {'id': don.id}) }}" class="btn btn-outline-primary">Obtenir le code QR</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="9">No records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

            
        
       </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            

          </div>
 </center>
        </div>

      </div>
    
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Sa7etna</span></strong>. Tous les droits sont réservés
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
{% endblock %}