{% extends 'base.html.twig' %}

{% block body %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - Sa7etna</title>
  <meta content="" name="description">


  <!-- Favicons -->
  <link href="{{asset('assets/img/favicon.png')}}" rel="icon">
  <link href="{{asset('assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{{asset('https://fonts.gstatic.com')}}" rel="preconnect">
  <link href="{{asset('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
       
        <span class="d-none d-lg-block">Sa7etna</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="">
        <input type="text" name="query" placeholder="Recherche" title="Enter search keyword">
        <button type="submit" title="Recherche"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href=""><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href=""><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="">
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="">
                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="">
                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

           <a class="nav-link nav-profile d-flex align-items-center pe-0" href="" data-bs-toggle="dropdown">
            <img src="{{asset('assets/img/profile-img.jpg')}}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.nom}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Mahdi Dahmani</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      
        <a class="nav-link " href="/utilisateur">
          <i class="bi bi-person"></i>
          <span>Gestion User</span>
        </a>
      
        <a class="nav-link " href="/local/">
          <i class="bi bi-grid"></i>
          <span>Gestion Locaux</span>
        </a>
        <a class="nav-link " href="/consultation/">
          <i class="bi bi-grid"></i>
          <span>Gestion Consultation</span>
        </a>
        <a class="nav-link " href="/don/">
          <i class="bi bi-grid"></i>
          <span>Gestion  Dons</span>
        </a>
         <a class="nav-link " href="/categorie/">
          <i class="bi bi-grid"></i>
          <span>Gestion  Categorie</span>
        </a>
       <li class="nav-item">
            <a class="nav-link " data-bs-target="#tables-nav" data-bs-toggle="collapse" href="{{ path('app_indexall') }}">
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>Gestion Reclamations</span>

                <i class="bi bi-chevron-down ms-auto"></i>

            </a>

            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li><a href="{{ path('app_indexall') }}"><i class="bi bi-circle"></i>Reclamation</a></li>
                <li>
                    <a href="{{ path('app_afficheresponse') }}">
                        <i class="bi bi-circle"></i><span>Response</span>
                    </a>
                </li>
            </ul>

        </li>
        <a class="nav-link " href="/article/">
          <i class="bi bi-grid"></i>
          <span>Gestion Articles</span>
        </a>
<a class="nav-link " href="/medicament/">
          <i class="bi bi-grid"></i>
          <span>Gestion Medicaments</span>
        </a>
         <a class="nav-link " href="/category/">
          <i class="bi bi-grid"></i>
          <span>Gestion Cat-Medicaments</span>
        </a>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="charts-nav" data-bs-toggle="collapse" >
          <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="sidebar-nav">
          <li>
            <a >
              <i class="bi bi-circle"></i><span>Chart.js</span>
            </a>
          </li>
          <li>
            <a >
              <i class="bi bi-circle"></i><span>ApexCharts</span>
            </a>
          </li>
          <li>
            <a >
              <i class="bi bi-circle"></i><span>ECharts</span>
            </a>
          </li>
        </ul>
      </li>

      

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>

     
      <li class="nav-item">
        <a class="nav-link collapsed" href="/pdg_generator/">
          <i class="bi bi-envelope"></i>
          <span>pdf</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{path ('app_stattttt')}}">
          <i class="bi bi-envelope"></i>
          <span>stat</span>
        </a>
      </li>

      

       <li class="nav-item">
        <a class="nav-link collapsed" href="/login">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Deconnecté</span>
        </a>
      </li>

     

      

    </ul>

  </aside>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/front">Acceuil</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>

    <section class="section dashboard">
      <div class="row">

       
        <div class="col-lg-8">
          <div class="row">

           
            
            <div class="col-12">
              <div class="card">

                <div class="filter">
                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#importAnnModal">
            Ajouter
        </button>
 <a href="/don/stat/stat">Statistique</a>
        <!-- Modal -->
        <div class="modal fade" id="importAnnModal" tabindex="-1" aria-labelledby="annModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                
                    <div class="modal-content">
                        
                        <div class="modal-body">
                            <div class="form-group">
                             <h5 class="card-title">General Form Elements</h5>

                             {{form(form,  {'attr': {novalidate: 'novalidate'}})}}
                           
                            </div>
                        </div>
                        <div class="card-body">
             

              <!-- General Form Elements -->
             
            </div>
                    </div>
                
            </div>
        </div>
                  
                   
                  
                </div>

                <div class="card-body">
                  <h5 class="card-title">List des donts<span></span></h5>

                 
           
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                

                
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <table id="myTable" class="table table-striped">
              

       

   
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_ben</th>
                <th>Titre</th>
                <th>Qte</th>
                <th>Type</th>
                <th>Date</th>
                <th>Id_local</th>
                <th>Image</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        <input id="myInput" type="text" value="" name="Search" class="form-control" placeholder=" tfathil bech 7achtek" autofocus>
        {% for don in dons %}
            <tr>
                <td>{{ don.id }}</td>
                <td>{{ don.idBen }}</td>
                <td>{{ don.titre }}</td>
                <td>{{ don.qte }}</td>
                <td>{{ don.type }}</td>
                <td>{{ don.date ? don.date|date('Y-m-d') : '' }}</td>
                <td>{{ don.idLocal }}</td>
                <td><img src="{{asset ('uploads/donimage/' ~ don.imge)}}" width="150px" height="150px"></td>
                <td>
                    <a href="{{ path('app_don_show', {'id': don.id}) }}">show</a>
                    <a href="{{ path('app_don_edit', {'id': don.id}) }}">edit</a>
                    <a href="/don/remove/{{don.id}}">delete</a>
                    <a href="{{ path('favoris_add', {'id': don.id}) }}" class="btn btn-round btn-danger"><i class="fa fa-heart" style="color: red;"></i> Add to favorite</a>
</a> <li class="d-flex align-items-center"><a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}&amp;quote=Check+out+this+awesome+post" target="_blank"><i class="bi bi-facebook"></i></a>
                  </li> 
                 <li class="d-flex align-items-center">
      <a href="https://twitter.com/intent/tweet?url={{ app.request.uri }}&amp;text=Check+out+this+awesome+post" target="_blank">
        <i class="bi bi-twitter"></i>
      </a>
    {# //codee  QR #}
      <a href="{{ path('bank_get_qr_code', {'id': don.id}) }}"  class="btn btn-outline-primary">Obtenir le code QR</a>
    </li>
 
                   
                        
                </td>
            </tr>
           
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_categorie_new') }}">Create new</a>
                

              </div>
            </div>

            
          </div>
        </div>

       
        <div class="col-lg-4">

          

        

          

         

        </div>

      </div>
    </section>

  </main>

 
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Sa7etna</span></strong>. Tous les droits reservé.
    </div>
    <div class="credits">
     
    </div>
  </footer>

  <a href="" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/63fe790a4247f20fefe335f2/1gqd0hkhh';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</html>
{% endblock %}