{% extends 'templateback.html.twig' %}
{% block titre%}
    <h1>Liste Des Responses</h1>
{% endblock %}
{% block body %}
    <input id="myInput" type="text" value="" name="Search" class="form-control" placeholder=" recherche response par description" autofocus>
    <div>
    <table class="table table-borderless datatable" id="myTable">
        <thead>
        <tr>
            <th scope="col">#</th>

            <th scope="col">Description</th>

        </tr>
        </thead>
        <tbody >{# id="all" #}
        {% for response in responses %}
        <tr>

            <th scope="row"><a href="#">{{ response.id }}</a></th>
            <td>{{ response.description }}</td>
           {# <td><a href="#" class="text-primary">At praesentium minu</a></td>
            <td>$64</td>
            <td><span class="badge bg-success">Approved</span></td>#}
                <td><a href="{{path('app_detailresponse',{id:response.id})}} " class="card-link">Details</a></td>
               <td><a href="{{path('app_deleteresponse',{id:response.id})}} " class="card-link">Delete</a></td>
               <td><a href="{{path('app_addresponse',{id:response.getReclamation().id})}} " class="card-link">Edit</a></td>
            {% endfor %}
        </tr>

        </tbody>
       {# <tbody id="searchtab"></tbody> #}
    </table>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    {# <script>
        $( document ).ready(function (){
            $("#search").keyup(function (e) {
                var value=$(this).val();
                $.ajax({
                    url : "{{ path ('recherchebyajax') }}",
                    type : 'GET',
                    data : {
                        'searchValue' : value
                    },
                    success : function (retour) {
                        if(retour)
                        {
                            $('#t tbody#searchtab').empty();
                            $.each(JSON.parse(retour),function (i,obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#searchtab').append('<tr><td>'+obj.id+'</td><td>'   +obj.description+'</td></tr>'  );

                            });
                        } else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#searchtab').empty();
                            $('#t tbody#searchtab').fadeIn('fast');


                        }

                    }
                });
                return false;

            });
        });
    </script> #}
{% endblock %}
