<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tableau des Produits</title>
</head>
<body >
<h1 style="text-align: center; color: red">sa7tna</h1>
<h2 style="text-align: center">Tableau des dons</h2>

<table border="1">
    <thead>
     <tr>
                <th>Id</th>
                <th>Id_ben</th>
                <th>Titre</th>
                <th>Qte</th>
                <th>Type</th>
                <th>Date</th>
                <th>Id_local</th>
                <th>Image</th>

               
            </tr>
    </thead>
    <tbody>
    {% for don in don %}
        <tr>
         <tr>
                <td>{{ don.id }}</td>
                <td>{{ don.idBen }}</td>
                <td>{{ don.titre }}</td>
                <td>{{ don.qte }}</td>
                <td>{{ don.type }}</td>
                <td>{{ don.date ? don.date|date('Y-m-d') : '' }}</td>
                <td>{{ don.idLocal }}</td>
               <td> <img src="{{ don.Imge }}"></td>
                
        
            </tr>
            
        </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>